<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Resto Menu</h1>

  <div class="container add-menu">
    <div class="form-group">
      <input class="form-control" placeholder="Enter menu name" id="inputName">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Enter menu description" id="inputDescription"></textarea>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Enter price" id="inputPrice">
    </div>
    <button type="submit" id="btnInsert" class="btn btn-primary" onclick=handleInsertData()>Insert</button>
    <button type="submit" id="btnEdit" class="btn btn-warning" disabled>Submit Edit</button>
  </div>

  <div class="container menu-list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for( let i = 0; i < menus.length; i++ ) { %>
          <tr id="<%= menus[i].id %>">
            <th scope="row"><%= i + 1 %></th>
            <td><%= menus[i].name %></td>
            <td><%= menus[i].description %></td>
            <td><%= menus[i].price %></td>
            <td>
              <button type="submit" class="btn btn-primary" onclick=handlePrepareEdit(<%= menus[i].id %>)>Edit</button>
              <button type="submit" class="btn btn-danger" onclick=handleDelete(<%= menus[i].id %>)>Delete</button>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <script src="../js/script.js"></script>
</body>
</html>